.card{
  height: 325px;
  width: 268px;
  background-color: #fff;
  border-radius: 30px;
  padding: 30px ;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.top img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #dadada;
  padding: 2px;
}

.top button{
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  padding: 4px 8px;
  font-size: 11px;
  border-radius: 5px;
  background-color: transparent;
  color: #8b8b8b;
}

.centre h3{
font-size: 17px;
font-weight: 500;
}

.centre h3 span{
font-size: 9px;
font-weight: 400;
color: #8b8b8b;
}

.centre h2{
  font-size: 20px;
  font-weight: 600;
}

.centre .tag{
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

.centre .tag h4{
  font-size: 10px;
  background-color: #dadada;
  color: black;
  padding: 4px 8px;
  font-weight: 500;
  border-radius: 3px;
}

.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1.5px solid #d7d7d7ce;
  padding-top: 15px ;
}

.bottom button{
  background-color: black;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 5px 10px ;
  column-width: 600;
}

.bottom h3{
  font-size: 17px;
}

.bottom p{
  color: #8b8b8b;
  font-size: 10px;
}