*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvatica neue';
  color: #fff;
}

html,
body{
  height: 100%;
  width: 100%;
  background-color: black;
}

.Parent{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.card{
  background-color:#222;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  width:  300px;
  text-align: center;
  border: 1px solid white;
}
.card img{
  height: 140px;
  width: 260px;
  object-fit: cover;
  border-radius: 10px;
}
.card p{
  margin: 20px 0;
}
.card button{
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
}
 